.overskrift{
    margin: 1% 3% 1% 3%;
    color: #123c69;
    /* background-color: #84acb1; */
    /* width:90%; */
    display:block;
    align-items: center;
}
.overskrift h1{
    font-weight: bold;
}

.nedover{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    
    /* height:140%; */
    /* padding-top: 1%;
    padding-bottom: 1%; */
    /* margin-bottom: 3%; */
    /* background-color: #84acb1; */
    
    /* background-color: #84acb1; */
    /* margin: 3% 1% 3% 1%; */
}

.bilderamme{
    float:left;
    width: 39%;
    height: auto;
    margin-bottom: 3%;
    margin-top: 3%;
    /* background-color: #84acb1; */
    /* margin-top:1%; */
    /* background-color: #123c69; */
}

.bilde{
    /* margin: 1% 1% 1% 1%; */
    width:90%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    align-items: center;
    height:auto;
    margin-top: 3%;
    padding-top:3%;

}

.tekstramme{
    /* background-color: #84acb1; */
    float:right;
    width:59%;
    height: 380px;
    padding: 3% 3% 3% 3%;
}
.tekst{
    
    background-color: white;
    color: #123c69;
    /* margin-bottom: 3%; */
    padding-top: 2%;
    padding-left: 5%;
    margin: 1% 3% 3% 3%;
    padding: 1% 3% 1% 3%;
    
    
}
.tekstramme.tekst p{
    margin: 1% 3% 3% 3%;
    /* font-weight:lighter; */
}
.tekst h5{
    margin:3% 3% 1% 3%;
    font-weight: bold;
    font-size: medium;
    border-bottom: 1px #123c69 solid;
    border-radius: 2px;
    padding-top: 3%;
}
.p{
    color:#123c69;
    /* padding-top: 12px;
    padding-bottom:2%; */

}
