
.test{
    width:100%;
    height:auto;
    background-color:#eee2dc;
    color: white;
    float:left;
    
  }
  .test2{
    float: left;
    width:44%;
    margin-left:3%;
    padding-top: 1%;
    padding-bottom: 1%;
    /* margin-top:2%; */
    /* margin-bottom: 5%; */
  }
  .test3{
    float: left;
    width: 25%;
    padding-top: 1%;
  }
  .test4{
    float: right;
    width: 25%;
    padding-top: 1%;
    padding-right:1%;
  }
  
  .test h3 {
      color: white;
      font-size: 15px;
      font-weight: 600;
      line-height: 27px;
      text-transform: uppercase;
    margin-bottom: 1px;
  }
  
  .logo{
    padding-left: 5%;
    padding-bottom:1%;
    margin-bottom:3%;
  }
  .logobilde{
    width:40%;
    height:auto;
  }
  .test h4 {
      color: white;
      font-size: 2em;
      font-weight: 600;
      line-height: 38px;
      font-family:fantasy;
    font-weight: lighter;
  
  }
  
  
  .test ul{
    text-decoration: none;
    line-height: 25px;
    font-size: 15px;
  }
  
  
  .test p {
      color: #123c69;
    font-weight: lighter;
  } 
  
  .test a:hover {
      text-decoration:none;
    font-weight: bold;
    color: #84acb1;
  }
  
  .test a {
      color: #84acb1;
  }
  
  .footer-bottom {
    
      border-top: 1px solid #ffffff;
      padding-top: 1%;
      padding-bottom: 1%;
    background-color: #eee2dc;
    float:left;
    width:100%;
    height:auto;
  }
  .footer-bottom p.pull-left {
      
    font-size: 0.75em;
    text-align: center;
    color: #05253a;
  }
  
  @media only screen and (max-width: 1000px){
    .test ul li{
      font-size: 10px;
    }
    .test4{
      padding-right:3%;
    }
    
  }
  