/*Icons: https://www.w3schools.com/icons/icons_reference.asp*/
/* body{
  background-color: #eee2dc;
  font-family: fantasy;
} */

.overskrift{
  
    margin: 1% 3% 1% 3%;
    color: #123c69;
  
  }
  .overskrift h1{
    font-weight: bold;
  }
  /*Generell styling av colonnene*/
  .contact-container {
    float: left;
      /* display: grid; */
      grid-template-columns: auto auto auto; /* 4 kolonner med auto bredde */
      justify-content: center; /* idk why i have this with */
      column-gap: 20px;
      padding: 20px 20px 20px 20px;
      background-color: #84acb1;
      margin: 1% 1% 1% 3%;
      color: white;
      width:46%;
      height: 400px;
    }
    .contact-element{
      display: inline-block;
      /* background-color: #ac3b61; */
    }
    /*SKJEMA LEFT SIDE*/
    .venstre{
      float: left;
      width: 47%;
    }
    .contact-input {
      padding: 1% 0 1% 0;
    } 
    .contact-name-left {
      width: 250px;
      height: 20px;
      border: 1px #84acb1 solid;
      border-radius: 2px;
    }
    .contact-email-left {
      width: 250px;
      height: 20px;
      border: 1px #84acb1 solid;
      border-radius: 2px;
    }
    .contact-message-left {
      width: 250px;
      max-width: 250px;
      border: 1px #84acb1 solid;
      border-radius: 2px;
    }
    /*BUTTON*/
    .btn {
      width: 250px;
      height: 34px;
      border-radius: 4px;
      transition: all .2s ease-in-out;
      background-color: #f2f2f2;
      cursor: pointer;
    }
    .btn:hover {
      background-color: #e6e6e6;
    }
    .btn:hover i{
      transform: rotate(45deg);
      transition: .4s ease;
    }
    /*RIGHT SIDE*/
    .høyre{
      float:right;
      width: 50%;
    }
    .contact-right p {
      display: inline-block;
      padding-left: 10px;
    }
    .mail-link {
      text-decoration: none;
      color: white;
    }
    .mail-link:hover {
      transition: .5s ease;
      color: white;
      font-weight: bold;
      text-decoration: none;
    }
    /*MAP*/
    .kart{
      float: right;
      width:46%;
      background-color: #84acb1;
      margin: 1% 3% 1% 1%;
      height:auto;
    }
    .contact-map {
      /* border-radius: 10px; */
      /* margin: 0 auto; */
      display: block;
      width: 100%;
      height: 400px;
      
    }
    
    /*FOR MINDRE SKJERMER*/
    @media screen and (max-width: 1190px) {
      .contact-container {
        float: left;
        width: 98%;
        margin-right: 3%;
        /* grid-template-columns: auto; 1 kolonne i stedet for 2 */
      }
      .kart{
        float:left;
        width:98%;
        margin-left:3%;
      }
      .venstre{
        align-items: center;
       
      }
      .contact-name-left, .contact-email-left, .contact-message-left, .btn {
        width: 150%;
        min-width: 150%;
      }
    }
  
    @media screen and (max-width: 760px) {
      .contact-name-left, .contact-email-left, .contact-message-left, .btn {
        width: 100%;
        min-width: 100%;
      }
    }
    