
{% extends 'base.html' %}
{% load static %}

{% block content %}
<head>
    <title>Kontakt oss</title>
    <link rel="stylesheet" href="{% static 'elsysapp/css/kontakt.css' %}">
</head>

<body>
    <div class="overskrift">
       <center><h1>KONTAKT OSS</h1><hr></center>
        <center>  <p>NB! Skjemaet er ikke i drift enda. Benytt derfor e-postadressen på høyre side.</p> </center> 
    </div>
    <!-- Inspirasjon: https://codepen.io/bobbykorec/pen/qOGbyr  -->
    <div class="contact-container"> <!-- Deler opp underdiv-ene slik at vi får 2 kolonner -->
      <!--Form (venstre)-->
      <div class="venstre">
          <div class="contact-element"> <!-- dette blir venstre siden av kolonnen -->
            <div class="contact-input">
                <input type="text" class="contact-name-left" id="name" placeholder="NAVN" name="name" value="" required>
            </div>
             <div class="contact-input">
                 <input type="email" class="contact-email-left" id="email" placeholder="E-POST" name="email" value="" required>
             </div>
             <div class="contact-input">
                <textarea class="contact-message-left" id="message" rows="10" placeholder="MELDING" name="message" required></textarea>
             </div>
             <button onclick="registrer();" class="btn" id="submit" type="submit" style="font-size:20px"><i class="fa fa-send send-icon"></i></button>
          </div>
      </div>
      
  
      <!--Info (høyre)-->
      <div class="høyre">
         <div class="contact-element"> <!-- Dette blir høyre side av kolonnen -->
            <hr>
            <div class="contact-right contact-place-right">
            <i class="fa fa-map-marker" style="font-size:25px"></i>
            <p>O. S. Bragstads Plass 2E, 7034 Trondheim</p>
            </div>
            <hr>
            <div class="contact-right contact-mail-right">
             <i class="fa fa-phone" style="font-size:25px"></i>
             <p>+47 123 45 678</p>
            </div>
            <hr>
                <div class="contact-right contact-mail-right">
                    <i class="fa fa-envelope" style="font-size:25px"></i>
                    <p><a class="mail-link" href="mailto:julieesc@stud.ntnu.no">mail@stud.ntnu.no</a></p>
                </div>
            <hr>
            </div>
         </div> 
      </div>
      

    <!-- Kartet som viser adressen -->
    <div class="kart">
       <iframe class="contact-map "src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d892.6578770733913!2d10.401020969074251!3d63.41865519617824!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x466d319508fefcdf%3A0x9c0f63531d9c33a!2sElektro%20E%2C%20O.%20S.%20Bragstads%20Plass%202E%2C%207034%20Trondheim!5e0!3m2!1sno!2sno!4v1614844725624!5m2!1sno!2sno" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
    </body>
  </html>
  <script type="text/javascript">
      function registrer() {
          var name = document.getElementById('name').value;
          var email = document.getElementById('email').value;
          var message = document.getElementById('message').value;
          //if, else if og else som gir melding når skjemaet er ikke fylt ut, delvis fylt ut eller fylt ut.
          if(name== '') {
            alert('Vennligst fyll ut navnet ditt.')
          }
          else if (email==''){
            alert('Vennligst fyll ut e-postadressen din, slik at vi kan kontakte deg igjen.')
          }
          else if(message==''){
            alert('Vennlight skriv en melding du har lyst å sende til oss.')
          }
          else {
              alert('Din tullekopp, dette fungerer jo ikke fordi Julie vet ikke hvordan man kan sende dette til en mail;) Benytt heller vår e-postadresse mail@stud.ntnu.no.');
              // sjekke om knappen fungerer: console.log(name);
          }
      }
  </script>
  </body>

{% endblock %}