<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    {% load static %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

      <style media="screen">
      #content_main_div {
        display: flex;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        /* align-items: flex-start; */
      }

      .content_main_sub1 {
        display: flex;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
      }

      .content_main_sub11 {
        display: flex;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: row;
      }

    </style>


  </head>
  <body>
    <!-- <canvas id="canvas" width="300" height="300" id="myCanvas"></canvas> -->

    {% comment %} <section id="chart-container">
        <canvas id="sensor-chart" data-url="{% url 'chart' %}"></canvas>
    </section> {% endcomment %}

    <div id="content_main_div"></div>

      <div class="content_main_sub1">
        <div>
          <h2>Eldre økter</h2>
        </div>

        <div class="content_main_sub11">
          <div class="content_main_sub111">

          <label for="start">Start date:</label>
          <input type="date" id="date_start" name="date-start">

          <label for="start">End date:</label>
          <input type="date" id="date_end" name="date-end">

          <input type="checkbox" id="select_all_check_id" > Velg alle
          <a href="https://gruppe11.innovasjon.ed.ntnu.no/elsysapp/dbdata/" id="linkId" target="_blank"><button type="button" class="btn btn-success">Enter</button></a>

          
          </div>
      </div>
      </div>

      <br>
      <br>
      <div class="content_main_sub2"></div>
    </div>



    <script type="text/javascript">   
    // Maa føre id videre slik at vi kan få valgt id
    // var data = JSON.parse("{{data|escapejs}}"); 
    // console.log(data);
    // var id_arr = JSON.parse("{{id|escapejs}}"); 
    // console.log(id_arr);
    var date=JSON.parse("{{date|escapejs}}");
    console.log(date);


    var date_arr=date["time"];
    console.log(date_arr);
    var date_type_arr=[];
    var id=[];
    var date_arr_uniq=[];
    //for (var i = 0; i < date_type_arr.length; i++) {
      //id.push(i);
    //}
    var date_arr_id=[]
    for (var i = 0; i < date_arr.length; i++) {
      var date_type=new Date(date_arr[i]);
      if (date_type_arr.length==0) {
        date_type_arr.push(date_type);
        date_arr_id.push(i+1);
        console.log(i);

      } else if (date_type_arr[date_type_arr.length-1].getTime()!=date_type.getTime()) {
        // console.log(date_type_arr[date_type_arr.length-1]);
        // console.log(date_type)
        date_type_arr.push(date_type);
        date_arr_id.push(i+1);
        console.log(i);
      } 
    }
    date_arr_id.push(date_arr.length);
    date_arr_id.reverse();
    date_type_arr.reverse();
    console.log("ids: " + date_arr_id);
    console.log("time: " + date_type_arr);


    var date_arr_curr=date_type_arr;
    var ids_curr=[]

    // console.log(id);
    // console.log(date_arr);


    {% comment %} var okter_content_box = document.querySelector(".content_main_sub2"); // Henter en div
    var okt_main_content = document.createElement("div"); // lager hovedboksen til en økt
    okt_main_content.classList.add("card");

    var okt_main_content_ul = document.createElement("ul"); // lager hovedboksen til en økt
    okt_main_content_ul.classList.add("list-group");
    okt_main_content_ul.classList.add("list-group-flush");
    for (var i = 0; i <date_type_arr.length; i++) {

      // if (date_ind_obj.getTime() <= date_end_obj.getTime() &&
      //   date_ind_obj.getTime() >= date_start_obj.getTime()) {
          var okt_main_content_li = document.createElement("li"); // lager hovedboksen til en økt
          okt_main_content_li.classList.add("list-group-item");
          okt_main_content_li.innerHTML=date_type_arr[i].getDate() + "  " + date_type_arr[i].getMonth() + "  " + date_type_arr[i].getFullYear() + "     ";
          var okt_main_content_btn= document.createElement("button");
          okt_main_content_btn.classList.add("btn");
          okt_main_content_btn.classList.add("btn-secondary");
          okt_main_content_btn.innerHTML="select"
          okt_main_content_li.appendChild(okt_main_content_btn)
          okt_main_content_ul.appendChild(okt_main_content_li);
      // }

    }
    okt_main_content.appendChild(okt_main_content_ul);
    okter_content_box.appendChild(okt_main_content); {% endcomment %}




  function update_dates(arr) {
    var okter_content_box = document.querySelector(".content_main_sub2"); // Henter en div
    var okt_main_content = document.createElement("div"); // lager hovedboksen til en økt
    okt_main_content.classList.add("card");

    var okt_main_content_ul = document.createElement("ul"); // lager hovedboksen til en økt
    okt_main_content_ul.classList.add("list-group");
    okt_main_content_ul.classList.add("list-group-flush");
    for (var i = 0; i <arr.length; i++) {
          var okt_main_content_li = document.createElement("li"); // lager hovedboksen til en økt
          okt_main_content_li.classList.add("list-group-item");
          okt_main_content_li.innerHTML=arr[i].getDate() + "  " + arr[i].getMonth() + "  " + arr[i].getFullYear() + "     ";
          var okt_main_content_btn= document.createElement("button");
          okt_main_content_btn.classList.add("btn");
          okt_main_content_btn.classList.add("btn-secondary");
          okt_main_content_btn.classList.add("btn-id");
          okt_main_content_btn.innerHTML="select"
          okt_main_content_li.appendChild(okt_main_content_btn)
          okt_main_content_ul.appendChild(okt_main_content_li);
    }
    okt_main_content.appendChild(okt_main_content_ul);
    okter_content_box.appendChild(okt_main_content);
  }

update_dates(date_type_arr);

  function btnToggle() {
    var button_el_arr = document.querySelectorAll(".btn-id");
    //console.log(button_el_arr);
    for (var i = 0; i < button_el_arr.length; i++) {
      button_el_arr[i].addEventListener("click", function(event){
      var targetElement = event.target || event.srcElement;
      var target_class=targetElement.getAttribute("class");
      //console.log(target_class)
      if (target_class === "btn btn-primary btn-id") {
        targetElement.className = "";
        targetElement.className="btn btn-secondary btn-id";
        console.log(updateLink());
      } else {
        targetElement.className = "";
        targetElement.className="btn btn-primary btn-id";
        console.log(updateLink());
      }
      });
    }
  }

btnToggle();



var select_all_check_el=document.querySelector("#select_all_check_id");
select_all_check_el.addEventListener("change", selectAllFun);

function selectAllFun() {
  select_all_check_el=document.querySelector("#select_all_check_id");
  var button_el_arr = document.querySelectorAll(".btn-id");

  if (select_all_check_el.checked==true) {
    for (var i = 0; i < button_el_arr.length; i++) {
      var targetElement=button_el_arr[i];
      // var target_class=targetElement.getAttribute("class")
      targetElement.className = "";
      targetElement.className="btn btn-primary btn-id"
    }
  } else {
    for (var i = 0; i < button_el_arr.length; i++) {
      var targetElement=button_el_arr[i];
      // var target_class=targetElement.getAttribute("class")
      targetElement.className = "";
      targetElement.className="btn btn-secondary btn-id"
    }
  }
  console.log(updateLink());
}



// Funksjon som sjekker data (om data er mindre eller større enn)
var date_start_el = document.querySelector("#date_start");
date_start_el.addEventListener("change", dateStartFun);
var date_end_el = document.querySelector("#date_end");
date_end_el.addEventListener("change", dateEndFun);
// console.log(date_start_el.value); // 2021-03-04 Year-month-day
// console.log(date_end_el.value); // 2021-03-04
date_start_value = date_start_el.value;
date_end_value = date_end_el.value;

var today = new Date();
var dd = String(today.getDate()).padStart(2, '0');
var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
var yyyy = today.getFullYear();

today = yyyy + '-' + mm + '-' + dd;
// console.log(today);

//
function dateStartFun() {
  var date_start_el = document.querySelector("#date_start");
  date_start_value = date_start_el.value;
  console.log(date_start_value);
  console.log(date_start_value.substring(0, 4));
  console.log(date_start_value.substring(5, 7));
  console.log(date_start_value.substring(8, 10));

  var date_end_el = document.querySelector("#date_end");
  date_end_value = date_end_el.value;
  if (date_end_value == "") {
    date_end_value = date_start_value;
    // console.log("terru");
    // console.log(today);
    // console.log(date_end_value);
  }

  rand_value = "2021-03-01";
  //console.log(Number(date_start_value.substring(0, 4)));
  //console.log(Number(date_start_value.substring(5, 7)));
  //console.log(Number(date_start_value.substring(8, 10)));
  //console.log(Number(rand_value.substring(0, 4)));
  //console.log(Number(rand_value.substring(5, 7)));
  //console.log(Number(rand_value.substring(8, 10)));
  //console.log(Number(date_end_value.substring(0, 4)));
  //console.log(Number(date_end_value.substring(5, 7)));
  //console.log(Number(date_end_value.substring(8, 10)));
  // console.log(Number(rand_value.substring(0,4)));
  // console.log(Number(date_end_value.substring(0,4)));
  // console.log(date_end_value);
  //
  // if (Number(date_start_value.substring(0,4))<=Number(rand_value.substring(0,4)) && Number(rand_value.substring(0,4))<=Number(date_end_value.substring(0,4))) {console.log("hei-yyyy");
  //
  // if (Number(date_start_value.substring(0,4))+1<=Number(rand_value.substring(0,4)) && Number(rand_value.substring(0,4))<=Number(date_end_value.substring(0,4))
  // || Number(date_start_value.substring(5,7))<=Number(rand_value.substring(5,7))  && Number(rand_value.substring(5,7))<=Number(date_end_value.substring(5,7))) {console.log("hei-mm");}
  //
  // if (Number(date_start_value.substring(0,4))+1<=Number(rand_value.substring(0,4)) && Number(rand_value.substring(0,4))<=Number(date_end_value.substring(0,4))
  // || Number(date_start_value.substring(0,4))==Number(rand_value.substring(0,4)) && Number(date_start_value.substring(5,7))+1<=Number(rand_value.substring(5,7)) && Number(rand_value.substring(5,7))<=Number(date_end_value.substring(5,7 ))
  // || Number(date_start_value.substring(0,4))==Number(rand_value.substring(0,4)) && Number(date_start_value.substring(5,7))==Number(rand_value.substring(5,7)) && Number(date_start_value.substring(8,10))<=Number(rand_value.substring(8,10)) && Number(rand_value.substring(8,10))<=Number(date_end_value.substring(8,10))) {
  //   console.log("hei-dd");}}

  date_start_obj = new Date(date_start_value);
  date_ind_obj = new Date("2021-03-01");
  date_end_obj = new Date(date_end_value);
  // console.log(date_start_obj);
  // console.log(date_ind_obj);
  // console.log(date_end_obj);
  var okter_content_box = document.querySelector(".content_main_sub2"); // Henter en div
  okter_content_box.innerHTML="";
  date_arr_curr=[]
  ids_curr=[]
  for (var i = 0; i < date_type_arr.length; i++) {
    //console.log(date_type_arr[i].toString());
    if (date_type_arr[i].getTime() <= date_end_obj.getTime() &&
      date_type_arr[i].getTime() >= date_start_obj.getTime()) {
      //console.log(date_ind_obj[i].toString() + " IS between " + date_start_obj.toString() + " and " + date_end_obj.toString());
      //console.log(true);
      date_arr_curr.push(date_type_arr[i]);
      //ids_curr.push(ids[i]);
    } else {
      //console.log(date_ind_obj[i].toString() + " is NOT between " + date_start_obj.toString() + " and " + date_end_obj.toString());
      console.log(false);
    }
  }
  console.log(date_arr_curr); 
  console.log(ids_curr);
  update_dates(date_arr_curr);
  btnToggle();


  // Deaktiverer alle knappene
  var button_el_arr = document.querySelectorAll(".btn-id");
  for (var i = 0; i < button_el_arr.length; i++) {
    var targetElement=button_el_arr[i];
    targetElement.className = "";
    targetElement.className="btn btn-secondary btn-id"
  }
  select_all_check_el=document.querySelector("#select_all_check_id");
  select_all_check_el.checked=false;
}

function dateEndFun() {
  var date_end_el = document.querySelector("#date_end");
  date_end_value = date_end_el.value;
  // console.log(date_end_value);
  // console.log(date_end_value.substring(0,4));
  // console.log(date_end_value.substring(5,7));
  // console.log(date_end_value.substring(8,10));

  var date_start_el = document.querySelector("#date_start");
  date_start_value = date_start_el.value;
  // console.log("Date start: " + String(date_start_value));
  if (date_start_value == "") {
    date_start_value = date_end_value;
    // console.log("Date start: " + String(date_start_value));
    // console.log("Date end: " + String(date_start_value));
  }
  //
  // rand_value="2021-03-01";
  // console.log(Number(date_start_value.substring(0,4)));
  // console.log(Number(date_start_value.substring(5,7)));
  // console.log(Number(date_start_value.substring(8,10)));
  // console.log(Number(rand_value.substring(0,4)));
  // console.log(Number(rand_value.substring(5,7)));
  // console.log(Number(rand_value.substring(8,10)));
  // console.log(Number(date_end_value.substring(0,4)));
  // console.log(Number(date_end_value.substring(5,7)));
  // console.log(Number(date_end_value.substring(8,10)));
  // // console.log(Number(rand_value.substring(0,4)));
  // // console.log(Number(date_end_value.substring(0,4)));
  // // console.log(date_end_value);
  // //

  date_start_obj = new Date(date_start_value);
  date_ind_obj = new Date("2021-03-01");
  date_end_obj = new Date(date_end_value);
  //console.log(date_end_obj);
   console.log(date_start_obj);
  // console.log(date_ind_obj);
   console.log(date_end_obj);


  var okter_content_box = document.querySelector(".content_main_sub2"); // Henter en div
  okter_content_box.innerHTML="";
  date_arr_curr=[];
  ids_curr=[];
  for (var i = 0; i < date_type_arr.length; i++) {
    //console.log(date_type_arr[i].toString());
    if (date_type_arr[i].getTime() <= date_end_obj.getTime() &&
      date_type_arr[i].getTime() >= date_start_obj.getTime()) {
      //console.log(date_ind_obj[i].toString() + " IS between " + date_start_obj.toString() + " and " + date_end_obj.toString());
      //console.log(true);
      date_arr_curr.push(date_type_arr[i]);
      // ids_curr.push(ids[i]);
      console.log(ids_curr);
    } else {
      //console.log(date_ind_obj[i].toString() + " is NOT between " + date_start_obj.toString() + " and " + date_end_obj.toString());
      console.log(false);
    }
  }

  console.log(date_arr_curr); 
  update_dates(date_arr_curr);
  btnToggle();




  var button_el_arr = document.querySelectorAll(".btn-id");
  for (var i = 0; i < button_el_arr.length; i++) {
    var targetElement=button_el_arr[i];
    targetElement.className = "";
    targetElement.className="btn btn-secondary btn-id"
  }
  select_all_check_el=document.querySelector("#select_all_check_id");
  select_all_check_el.checked=false;
}




// var button_el_arr_prim = document.querySelectorAll(".btn btn-primary");
// for (var i = 0; i < button_el_arr_prim.length; i++) {
//   button_el_arr.push(button_el_arr_prim[i]);
// }
// // button_el.innerHTML="       ";
// for (var i = 0; i < button_el_arr.length; i++) {
  // button_el_arr[i].addEventListener("click", toggleDates(i));
// }
// button_el.className = "btn btn-secondary";



// function newDataset() {
//   var dataset_arr = [Math.random() * 3, Math.random() * 3, Math.random() * 3, Math.random() * 3, Math.random() * 3, Math.random() * 3, Math.random() * 3]
// }
// var okter_buttons = document.querySelectorAll("button");



function getIds() {
  var button_el_arr = document.querySelectorAll(".btn-id");
  var date_index_arr=[];
  for (var i = 0; i < button_el_arr.length; i++) {
    if (button_el_arr[i].getAttribute("class")=="btn btn-primary btn-id") {
      for (var j = 0; j < date_type_arr.length; j++) {
        if (date_arr_curr[i]==date_type_arr[j]) {
          date_index_arr.push(date_arr_id[j]);
        }
      }
    }
  }
  return date_index_arr
}

  function updateLink() {
    var btn_success=document.querySelector("#linkId");
    console.log(btn_success);  
    var btn_ids=getIds(); // faar første id til datoen
    var link_ids=[];
    for (var i = 0; i < btn_ids.length; i++) {
      for (var j = 0; j < date_arr_id.length-1; j++) {
        if (btn_ids[i]==date_arr_id[j]) {
          if (0==j) {
            link_ids.push([date_arr_id[j], date_arr_id[j+1]]);
          } else {
            link_ids.push([date_arr_id[j]-1, date_arr_id[j+1]]);
          }
        }
      }
    }
    var link_str="https://gruppe11.innovasjon.ed.ntnu.no/elsysapp/dbdata/"
    for (var i = link_ids.length - 1; i >= 0; i--) {
      link_str+=link_ids[i][1] + "-" +  link_ids[i][0] + "_";
    }
    link_str+="/"
    btn_success.setAttribute("href", link_str);
    return link_str;
  }


</script>




  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>

  {% comment %} <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script> {% endcomment %}
  {% comment %} <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script> {% endcomment %}
  {% comment %} <script type="text/javascript" src="{% static 'plotter.js' %}"></script> {% endcomment %}

  </body>
</html>
