{% extends 'base.html' %}
{% load static %}

{% block content %}
<head>
  <title>sanntid</title>
    <meta charset="utf-8">
</head>

<body>


  <a href="https://gruppe11.innovasjon.ed.ntnu.no/elsysapp/sanntid/" target="_blank" id="sing_sanntid"><button type="button" name="button">Oppdater ny måling</button> </a>
  <a href="https://gruppe11.innovasjon.ed.ntnu.no/elsysapp/sanntid/" target="_blank" id="mult_sanntid"><button type="button" name="button">Oppdater flere målinger</button> </a>

    <div style="margin:auto; width:50%;padding:10px;display: flex;flex-direction:column;text-align:center;justify-content: center;align-items:center;padding-bottom:30px;">
    <h2>Sluttfart</h2>
    <div class="card" style="width: 18rem;" >
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Måling 1: 1.23 m/s</li>
        {% comment %} <li class="list-group-item">Måling 2: 1.8 m/s</li>
        <li class="list-group-item">måling 3: 1.8 m/s</li> {% endcomment %}
    </ul>
    </div>
    </div>

  <div class="chart-container" style="margin:auto;width:85%;height:550px;padding-bottom:20px;border:10px">
  <canvas id="velChart"></canvas>
  </div>

  <div class="chart-container" style="margin:auto;width:85%;height:550px;">
  <canvas id="accChart"></canvas>
  </div>


  
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
  <script type="text/javascript">
   // <link rel="stylesheet" href="{% static 'graphtest.css' %}">

  var body=document.querySelector("body");
  console.log(body);
  var ul=document.createElement("ul");
  var br=document.createElement("br");

//hente data
  var xdata_true  = (JSON.parse("{{xAcc|escapejs}}"))["xAcc"]; 
  var ydata_true  = (JSON.parse("{{yAcc|escapejs}}"))["yAcc"]; 
  var zdata_true  = (JSON.parse("{{zAcc|escapejs}}"))["zAcc"]; 

  var x_vel_arr = (JSON.parse("{{xVel|escapejs}}"))["xVel"]; 
  var y_vel_arr = (JSON.parse("{{yVel|escapejs}}"))["yVel"]; 
  var z_vel_arr = (JSON.parse("{{zVel|escapejs}}"))["zVel"]; 

  var date = (JSON.parse("{{timestamp|escapejs}}"))["date"];
  console.log(date);
  var last_id=(JSON.parse("{{id|escapejs}}"))["id"][0];
  console.log(last_id);

  var link_el=document.querySelector("#mult_sanntid");
  var link_str="https://gruppe11.innovasjon.ed.ntnu.no/elsysapp/sanntid/"+String(last_id)+"_";
  link_str+="/";
  console.log(link_str);
  link_el.setAttribute("href", link_str); 


  {% comment %} var li1 = document.createElement("li");
  li1.style.display = "none";
  li1.innerHTML="xdata:" 
  for (var i = 0; i <x_acc_arr.length-1; i++) {
      li1.innerHTML+= + x_acc_arr[i] + ",";
  }
  var li2 = document.createElement("li");
  li2.style.display = "none";
  li2.innerHTML="ydata:" 
  for (var i = 0; i <y_acc_arr.length-1; i++) {
      li2.innerHTML+= + y_acc_arr[i] + ",";
  }
    
  var li3 = document.createElement("li");
  li3.style.display = "none";
  li3.innerHTML="ydata:" 
  for (var i = 0; i <z_acc_arr.length-1; i++) {
      li3.innerHTML+= + z_acc_arr[i] + ",";
  }
  var li4 = document.createElement("li");
  li4.style.display = "none";
  li4.innerHTML+= "date: " + date[0];

  ul.appendChild(li1);
  ul.appendChild(li2);
  ul.appendChild(li3);
  ul.appendChild(li4); {% endcomment %}


  {% comment %} for (var i = 0; i <x_vel_arr.length-1; i++) {

      li.innerHTML="xdata: " + x_acc_arr[i] + ", ydata: " + y_acc_arr[i] + "zdata: "  + z_acc_arr[i];
      // console.log("xdata: " + xdata[i][0] + ", ydata: " + ydata[i][0] + "zdata: " + zdata[i][0] + ", date: " + date[i]);
      ul.appendChild(li);
  }
    var li = document.createElement("li"); // lager hovedboksen til en økt
    li.style.display = "none";

    li.innerHTML="xdata: " + x_acc_arr[x_vel_arr.length-1] + ", ydata: " + y_acc_arr[x_vel_arr.length-1] + "zdata: "  + y_acc_arr[x_vel_arr.length-1] + ", date: " + date[0];
    // console.log("xdata: " + xdata[i][0] + ", ydata: " + ydata[i][0] + "zdata: " + zdata[i][0] + ", date: " + date[i]); {% endcomment %}


  body.appendChild(ul);

  function show_li() {
    var all_li=document.querySelectorAll("li")
    for (var i = 0; i <all_li.length; i++) {
      all_li[i].style.display = "";

    }
  }



  var accdata_last=[];

//lage tidsakse, må gange med noe, kanskje 0.01257142857? mest sannsynlig ikke, kanskje dele på 62.5
  console.log(accdata_last);
  time=[]
  for (var i = 0; i <xdata_true.length; i++) {
    time.push((i/62.5).toFixed(1)) // ganger dette med en konstant
  }
  console.log("time: " + time);
  
    ydata_true = ydata_true.map(function(element) {
      return Number.parseFloat(element).toFixed(4); // 9.807/16384
      //return Number.parseInt(element,16);
    });

  y_vel_arr = y_vel_arr.map(function(element) {
    return Number.parseFloat(element).toFixed(4); // 9.807/16384
    //return Number.parseInt(element,16);
  });



  var vel_arr=[];
    for (var j = 0; j <x_vel_arr.length; j++) {
      vel_arr.push(Math.sqrt(x_vel_arr[j]*x_vel_arr[j]+y_vel_arr[j]*y_vel_arr[j]));
    }

  var acc_arr=[];
    for (var j = 0; j <xdata_true.length; j++) {
      if (j>0 && vel_arr[j]-vel_arr[j-1]<0) {
      acc_arr.push((-1)*Math.sqrt(xdata_true[j]*xdata_true[j]+ydata_true[j]*ydata_true[j]));
      } else {
        acc_arr.push(Math.sqrt(xdata_true[j]*xdata_true[j]+ydata_true[j]*ydata_true[j]));
      }
    }




    var ctx_acc = document.getElementById('accChart').getContext('2d');
    var data_acc = {
      labels: time,
      datasets: [{
        pointHoverRadius: 1.5,
        pointRadius: 1.5,
        fill: false,
        label: "Måling 1",
        backgroundColor: 
          '#017aa0',
        borderColor: 
          '#017aa0',
        borderWidth: 2,
        data: acc_arr,
      }]
    };

    var accChart = new Chart(ctx_acc,{
      type: "line",
      data: data_acc,
        options:{
          title: {
            display: true,
            text: 'Akselerasjon',
            fontSize: 25 
          },
          responsive: true,
          maintainAspectRatio: false,
          scales: {
            xAxes: [{
              display:true,
              scaleLabel: {
                display: true,
                labelString: 'Tid [s]',
                fontSize: 20
              }
            }],

            yAxes: [{
              ticks: {
                beginAtZero: true
              },
              display:true,
              scaleLabel: {
                display: true,
                labelString: 'Akselerasjon [m/s²]',
                fontSize: 20
              }
            }], 

          }
        }
    });
        // You create the new dataset `Vendas` with new data and color to differentiate
    function addaccDataset(arr, name="default", color='#017aa0') {
      var newDataset = {
          fill: false,
          pointHoverRadius: 1,
          pointRadius: 1,
          label: name,
          backgroundColor: color,
          borderColor: color,
          borderWidth: 2,
          data: arr,
      }

      // You add the newly created dataset to the list of `data`
      data_acc.datasets.push(newDataset);
      // You update the chart to take into account the new dataset
      accChart.update();
    }
    var colors = ['#ac3b61', '#84acb1', '#eee2dc', '#123c69', '#017aa0', '#bbb2b5', '#d7a08b', '#bcb1b7']; 
    //var i;
    //for (i = 1; i < date.length; i++) {
      // addDataset(accdata_last, 'data'+i,  colors[i-1]);
    //} 
    {% comment %} addaccDataset(x_acc_arr, 'y',  '#ac3b61'); {% endcomment %}
    {% comment %} addaccDataset(z_acc_arr, 'z',  '#84acb1'); {% endcomment %}
    // addDataset(date[2], 'data2', '#84acb1')
    // addDataset(data[2], 'data2', '#84acb1')





    var ctx_vel = document.getElementById('velChart').getContext('2d');
    var data_vel = {
      labels: time,
      datasets: [{
        pointHoverRadius: 1,
        pointRadius: 1,
        fill: false,
        label: "Måling 1",
        backgroundColor: 
          '#017aa0',
        borderColor: 
          '#017aa0',
        borderWidth: 2,
        data: vel_arr,
      }]
    };

    var velChart = new Chart(ctx_vel,{
      type: "line",
      data: data_vel,
        options:{
          title: {
            display: true,
            text: 'Fart',
            fontSize: 25 
          },

          maintainAspectRatio: false,
          scales: {
            xAxes: [{
              display:true,
              scaleLabel: {
                display: true,
                labelString: 'Tid [s]',
                fontSize: 20
              }
            }],

            yAxes: [{
              ticks: {
                beginAtZero: true
              },
              display:true,
              scaleLabel: {
                display: true,
                labelString: 'Fart [m/s]',
                fontSize: 20
              }
            }], 

          }
        }
    });



    // You create the new dataset `Vendas` with new data and color to differentiate
    function addVelDataset(arr, name="default", color='#017aa0') {
      var newDataset = {
          fill: false,
          pointHoverRadius: 1.5,
          pointRadius: 1.5,
          label: name,
          backgroundColor: color,
          borderColor: color,
          borderWidth: 2,
          data: arr,
      }

      // You add the newly created dataset to the list of `data`
      data_vel.datasets.push(newDataset);
      // You update the chart to take into account the new dataset
      velChart.update();
    }
    var colors = ['#ac3b61', '#84acb1', '#eee2dc', '#123c69', '#017aa0', '#bbb2b5', '#d7a08b', '#bcb1b7']; 
    //var i;
    //for (i = 1; i < date.length; i++) {
      // addDataset(accdata_last, 'data'+i,  colors[i-1]);
    //} 
    
    
    {% comment %} addVelDataset(x_vel_arr, 'y',  '#ac3b61'); {% endcomment %}
    {% comment %} addVelDataset(z_vel_arr, 'z',  '#84acb1'); {% endcomment %}
    
    
    
    
    // addDataset(date[2], 'data2', '#84acb1')
    // addDataset(data[2], 'data2', '#84acb1')


  </script>
</body>
{% endblock %}
