{% extends 'base.html' %}
{% load static %}

{% block content %}
<head>
    <title>Logg inn</title>
    <link rel="stylesheet" href="{% static 'elsysapp/css/signin.css' %}">
</head>
<body>
  

  
<div class="login-holder"> <!-- Deler login og register i to kolonner-->
    <div class="login-container"> <!-- login-->
      <div class="login-element">
        <h3>Logg inn</h3>
        <div class="login-input">
          <input type="email" id="email-login" name="email-login" placeholder="E-POST"/>
        </div>
        <div class="login-input">
          <input type="password" id="password-login" name="password-login" placeholder="PASSORD"/>
        </div>
        <div class="btn-div">
          <button onclick="registrer();" class="btn login-btn" type="submit" style="font-size:17px">LOGG INN</button>
        </div>
      </div>
      <hr>
      <div class="login-element"> <!-- register (ja, vet at den heter login-element) -->
        <h3>Registrer deg</h3>
        <div class="login-input">
          <input type="text" id="name-create" name="name-create" placeholder="NAVN"/>
        </div>
        <div class="login-input">
          <input type="email" id="email-create" placeholder="E-POST" name="email-create">
        </div>
        <div class="login-input">
          <input type="password" id="password-create" name="password-create" placeholder="PASSORD"/>
        </div>
        <div class="btn-div">
          <button onclick="registrer();" class="btn create-btn" type="submit" style="font-size:17px">REGISTRER</button>
        </div>
      </div>
    </div>
  </div>

</body>


{% endblock %}